html, body{
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

main{
	background-image: url('https://cdn2.vectorstock.com/i/1000x1000/10/21/cute-objects-pattern-with-pink-background-vector-13241021.jpg');
	background-repeat: repeat;
	background-color: #FF69B4;
	text-shadow: 0 4px 20px pink;
	padding: 40px;
	text-align: center;
}
h1{
	font-size: 45px; 
	background-color: white;
	color: #FF69B4;
	border-style: dashed;
}

h2{
	padding:0;
	margin: 0; 
	background-color: white;
	font-size: 20px;
	color: #FF69B4;
	border-style: dashed;
}
main img{
	border-radius:150px;
	width: 300px;
	border: 100px; 
}
.content{ 
border-style: double;
max-width: 800px;
margin: 0 auto; 
background-color: #FEDDF3;
padding: 0 20px;
}

p.content{
	font-size: 14px;
	text-align: left;
}
p.caption{
	font-size: 11px;
	color: #FF69B4;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

ol{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align:left;
}
a{
	color: #FF69B4;
	text-decoration: none;

}

a:hover{
	color: white;
	text-decoration: none;
}

footer{
	padding: 20px 20px;
	background-color: white;
	color: #FF69B4;
	margin: 20 auto;
}